<!DOCTYPE html>
<head>
</head>
<style>
  input[type=number], select {
  width: 26%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 18%;
  background-color: rgb(104, 9, 167);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
<body>
    <div>
        <br><br><br><br><br><br>
    <center>
    <form name="from", action=".", method="POST">
        <input type="number" name="name" placeholder="Enter value 1"><br>
        <input type="number" name="name1"placeholder="Enter value 2"><br>
        <input type="number" name="name2"placeholder="Enter value 3"><br>
        <input type="number" name="name3"placeholder="Enter value 4"><br><br>
        <input type="submit" name="sub" value="Click here!">
    </form>
    <h1>{{num}}</h1>
    </div>
</body>
</html>                                             